<nb-card status="success" class="setSize" >
        <nb-card-header><h3 style="color: snow ; text-align: center;">สมัครสมาชิก</h3></nb-card-header>
            <nb-card-body style="text-align: center;">
                <br>
                <input type="text" nbInput fullWidth placeholder="ชื่อ - นามสกุล">
                <br>
                <br>
                <input type="text" nbInput fullWidth placeholder="ชื่อผู้ใช้">
                <br>
                <br>
                <input type="text" nbInput fullWidth placeholder="รหัสผ่าน">
                <br>
                <br>
                <input type="text" nbInput fullWidth placeholder="ยืนยันรหัสผ่าน">
                <br>
                <br>
                <input type="text" nbInput fullWidth placeholder="อีเมล">
                <br>
                <br>
                <textarea type="text" nbInput fullWidth placeholder="ที่อยู่"></textarea>
                <br>
                <br>
                <button nbButton status="success">สมัครสมาชิก</button>
                <br>
                <br>
            </nb-card-body>
    </nb-card>
    