
<!-- <nb-card class="setCard" status="success">
  <nb-card-header> 
    <h5>ออกแบบข้อสอบ</h5>  
  </nb-card-header>
    <nb-card-body >
      <canvas id="canvas" width="350" height="200">hello</canvas>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="primary">ข้อมูลผู้สอบ</button>
      <button nbButton status="success">ข้อสอบแบบ 1</button>
      <button nbButton status="warning">ข้อสอบแบบ 2</button>
  </nb-card-footer>
</nb-card> -->
<!-- <img src="../assets/test.jpg" alt=""> -->

<canvas id="canvas">hello</canvas>
<br>
<br>
<button nbButton status="primary" (click)="selectData()">ข้อมูลผู้สอบ</button>
<button nbButton status="success" (click)="selectType_1()">ข้อสอบแบบ 1</button>
<button nbButton status="warning" (click)="selectType_2()">ข้อสอบแบบ 2</button>

