.setCard{
    height: 80%;

}

button {
    margin-right:2%; 

}

h5{
    color: white;
}

canvas { 
    cursor: crosshair;
    border: 5px solid rgba(59, 57, 57, 0.116); 
    border-radius: 10px;
    color: #ffaa0021;

    
}
