<nb-layout>

  <nb-layout-header fixed>
    <h3 class="headSite">AGC-System</h3>
    
    <nb-actions  class="menuLink" size="medium">
        <nb-action><a href="home">หน้าหลัก</a></nb-action>
        <nb-action><a href="registerComponent">สมัครสมาชิก</a></nb-action>
        <nb-action nbTooltip="เบอร์ติตต่อ : 09-999-999-99" nbTooltipPlacement="bottom">ติตต่อ</nb-action>
        <!-- <nb-action><a [routerLink]="[{ outlets: { HomeOutlet: ['admin'] } }]" routerLinkActive="active">แอดมิน</a></nb-action> -->

    </nb-actions>

    <a href="loginComponent" class="menuLink v1" nbButton  status="success">เข้าสู่ระบบ<nb-icon icon="unlock-outline"></nb-icon></a>

  </nb-layout-header >

  <nb-layout-column>

    <router-outlet></router-outlet>
    
  </nb-layout-column>

  <nb-layout-footer fixed>

  </nb-layout-footer>

</nb-layout>

