.headSite{
    color: #2ce69b;

}

.menuLink{
    position: absolute;
    left: 55%;
}
.menuLink.v1{
    position: absolute;
    left: 87.5%;
}

// ::ng-deep {
//     justify-content: center;
//     align-items: center;
//     display: flex;
//   }

::ng-deep nb-layout-column {
    justify-content: center;
    align-items: center;
    display: flexbox;
    background-color: #ffffff;
  }

  a {
    text-decoration: none;
   }