
<div style="background-color: #2ce69b;width: 2.5%;height: 5%; border-radius: 50% ; left: 10%; position: absolute;top: 13.5%"></div>
<div style="background-color: #2ce69b;width: 10%;height: 20%; border-radius: 50% ; left: 10%; position: absolute;top: 17%"></div>
<div style="background-color: #2ce69b;width: 5%;height: 10%; border-radius: 50% ; left: 42%; position: absolute;top: 50%"></div>
<div style="background-color: #2ce69b;width: 1.5%;height: 3%; border-radius: 50% ; left: 20%; position: absolute;top: 17%"></div>
<div style="background-color: #2ce69b;width: 5%;height:10%; border-radius: 50% ; left: 10%; position: absolute;top: 37%"></div>
<div style="background-color: #2ce69b;width: 1.5%;height: 3%; border-radius: 50% ; left: 45%; position: absolute;top: 60%"></div>

<nb-card status="success" class="setCard">
  <nb-card-header>
    <h3 class="headSite">Automatic Grading Choice System</h3>
    <h5 class="headSite">( ระบบตรวจข้อสอบอัติโนมัติ )</h5>
  </nb-card-header>
  <nb-card-body>
    <p> เป็นระบบที่จะมาช่วยคุณในการตรวจข้อสอบด้วยวิธีการง่ายๆ รวดเร็ว สะดวก สบาย 
    ไม่ต้องใช้การตรวจแบบเดิมๆอีกต่อไปซึ่งเป็นเรื่องที่ไม่ง่ายและยุ่งยากต่อ การดำเนินงานระบบนี้จะทำให้คุณลดเวลาไปอย่างมาก</p>
        <button nbButton  status="success" size="tiny">เพิ่มเติม</button>
  </nb-card-body>
</nb-card>


<div style="background-color: #00d68f;width: 20%;height: 40%; border-radius: 50% ; left: 60%; position: absolute;top: 20%"></div>
<img src="./assets/peper-pen5.png" width="20%" style="position: absolute;left:60%;top:18%">


