<nb-layout>
    <nb-layout-header fixed>
    <button nbButton ghost status="success" size="tinny" (click)="toggle()"><nb-icon [style.font-size] = "mFontsize" icon="menu-2-outline"></nb-icon></button>
    <h4 [style.color] = "mColor1">&nbsp;&nbsp;AGC-System</h4>
    <button nbButton status="success" size="small" (click)="comeHomes()"><nb-icon icon="lock-outline"></nb-icon>ออกจากระบบ</button>
    </nb-layout-header>  

    <nb-sidebar>
    <nb-menu [items]="items">
    </nb-menu>
    </nb-sidebar>

    <nb-layout-column>
       	
        <router-outlet></router-outlet>

    </nb-layout-column>
  </nb-layout>
