
<nb-card status="success" class="setSize" >
    <nb-card-header><h3 style="color: snow ; text-align: center;">ยินดีต้อนรับ</h3></nb-card-header>
        <nb-card-body style="text-align: center;">
            <br>
            <input type="text" nbInput fullWidth placeholder="ชื่อผู้ใช้">
            <br>
            <br>
            <input type="text" nbInput fullWidth placeholder="รหัสผ่าน">
            <br>
            <br>
            <button nbButton status="success">เข้าสู่ระบบ</button>
            <br>
            <br>
            <br>
            คลิกที่นี่กรณี : <a href="">ลืมรหัสผ่าน</a>
            <br>
            <br>
        </nb-card-body>
</nb-card>
