button[nbTreeGridRowToggle] {
    background: transparent;
    border: none;
    padding: 0;
  }
  
  .search-label {
    display: block;
  }
  .search-input {
    margin-bottom: 1rem;
  }
  
  .nb-column-name {
    width: 100%;
  }
  
  @media screen and (min-width: 400px) {
    .nb-column-name,
    .nb-column-size {
      width: 50%;
    }
  }
  
  @media screen and (min-width: 500px) {
    .nb-column-name,
    .nb-column-size,
    .nb-column-kind {
      width: 33.333%;
    }
  }
  
  @media screen and (min-width: 600px) {
    .nb-column-name {
      width: 31%;
    }
    .nb-column-size,
    .nb-column-kind,
    .nb-column-items {
      width: 23%;
    }
  }
