<nb-card status="success">
    <nb-card-header>
        <h5 style="color:white">ข้อมูลส่วนตัว</h5>
    </nb-card-header>
        <nb-card-body>
        <ul>
            <li>ชื่อ-นามสกุล :</li>
            <li>ชื่อผู้ใช้ :</li>
            <li>อีเมล :</li>
            <li>ที่อยู่ :</li>
        </ul>
        </nb-card-body>
    <nb-card-footer>
        <button nbButton status="success">ข้อมูลผู้สอบ</button>
    </nb-card-footer>
</nb-card>
